@model IEnumerable<Computer_Mart.Models.Order.OrderItem>

@{
    ViewData["Title"] = "Order";
}

<h1>@ViewData["Title"] @ViewBag.order.Id</h1>

<div class="pt-3 pb-3">
    <h4 class="text-secondary pt-3 pb-2">@ViewBag.order.Date</h4>
    <h4 class="text-primary">@ViewData["priceString"]</h4>
</div>


<table class="table pb-3">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
        </tr>
}
    </tbody>
</table>
<a class="btn btn-primary" asp-action="Index">Back</a>