@model Computer_Mart.Models.Computer

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Name</h1>

<div class="d-flex flex-row align-items-center">
    <div class="p-5 bg-dark text-light" style="width:50%">
        <dl class="row text_grey">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Price)
            </dd>
            <div class="container-fluid border-bottom border-secondary pb-4 mb-2"></div>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CPU)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CPU.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.GPU)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.GPU.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.RAM)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.RAM.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SSD)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SSD.Description)
            </dd>
            <div class="container-fluid d-flex mt-4">
                <a asp-controller="Cart" asp-action="Add" asp-route-id="@Model.Id" class="btn btn-success">Add to Cart</a>
            </div>
        </dl>
    </div>
    <div class="d-flex justify-content-center align-items-center bg-white" style="width:50%;">
        <div class="img_container_details">
            <img class="computer_details_img" src="@Model.pictureUrl" style="max-width:100%" />
        </div>
    </div>
</div>

    @if (User.IsInRole("Admin"))
    {
        <div>
            <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> | 
            <a asp-action="Index">Back</a>
        </div>
    }
    else
    {
        <div>
            <a asp-action="Index">Back</a>
        </div>
    }

    

